### Fundamentos de Python

In [64]:
print("Hello World")

Hello World

In [65]:
# variables
name = "josefino"
Name = "josefino"

first_name = "josefino"
fn = "josefino"
# first-name = "josefino"

# anomalias malas practicas
FirstName = "josefino"
First_Name = "josefino"
First_name = "josefino"
# first.name = "josefino"

# revisar el pep 8: guia de estilo

In [66]:
# python como calculadora
# int: entero
# float: decimales
# str: cadena de caracteres

age = 12
peso = 21
altura = 1.78

print( type( altura ))
print( type( peso ))
print( type( first_name ))

<class 'float'>
<class 'int'>
<class 'str'>

In [67]:
# formatos en print

edad = 12
peso = 21.56
altura = 1.78

print( "El tipo de dato de altura es", type( altura ))
print( "El tipo de dato de peso es", type( peso ))
print( "El tipo de dato de first_name es",type( first_name ))

El tipo de dato de altura es <class 'float'>
El tipo de dato de peso es <class 'float'>
El tipo de dato de first_name es <class 'str'>

In [68]:
edad = float(edad)
type(edad)
print("edad", type(edad))

altura = float(altura)
print( "altura", type(altura) )

edad <class 'float'>
altura <class 'float'>

## Ciclos finitos

In [69]:
# ciclo for en python

In [70]:
for desiree in range(5):
    print("Hola")

Hola
Hola
Hola
Hola
Hola

In [71]:
for value in range(5):
    print(value)

0
1
2
3
4

In [72]:
for value in range(2,5):
    print(value)

2
3
4

In [73]:
for value in range(1,11):
    print(f"Cuadrado de {value} es {value**2}")

Cuadrado de 1 es 1
Cuadrado de 2 es 4
Cuadrado de 3 es 9
Cuadrado de 4 es 16
Cuadrado de 5 es 25
Cuadrado de 6 es 36
Cuadrado de 7 es 49
Cuadrado de 8 es 64
Cuadrado de 9 es 81
Cuadrado de 10 es 100

In [74]:
for value in range(10, 0, -1):
    print(value)

10
9
8
7
6
5
4
3
2
1

In [75]:
# Condicionales
# Operadores de comparacion
# > mayor que
#  < menor que
#  >= mayor igual
#  <= menor igual
#  == igual
#  != diferente

day= "domingo"
if (day == "domingo"):
    print("voy a clases")

voy a clases

In [76]:
# ingreso por teclado
day= input("Dia de la semana: ")
# convertir a minuscula
day = day.lower()

print(day)

if (day == "domingo"):
    print("voy a clases")
else: 
    print("no es domingo")

no es domingo

In [77]:
# Buscar los numeros pares del 1 al 10
# buscar los num del 1 al 10
# 
for number in range(1, 11):
    if (number % 2) == 0:
        print(f"{number} es par")

2 es par
4 es par
6 es par
8 es par
10 es par

In [78]:
# ingreso por teclado
day= input("Dia de la semana: ")
# convertir a minuscula
day = day.lower()

print(day)

if (day == "domingo"):
    print("voy a clases")

elif day == "sabado":
    print("es sabado")

elif day == "lunes":
    print("es lunes")  

else: 
    print("no es domingo")

no es domingo

### Listas

In [79]:
list_1 = ["monday", "tuesday", 1, 2, 0.8]

In [80]:
list_1[-1]

0.8

In [81]:
names = ['josefino', 'maria', 'ruperto']

In [82]:
# append, agrega un valor a la lista
names.append('guillermo')

In [83]:
names

['josefino', 'maria', 'ruperto', 'guillermo']

In [84]:
names_2 = names.copy()

In [85]:
# count, indica el numero de veces que Maria esta en la lista
names_2.count('maria')

1

In [86]:
# posicion donde esta maria en la lista
names.index("maria")

1

In [87]:
# si no coloco nada entre el parentesis, saca de la lista el ultimo, si coloco la posicion elimina el que este en esa posicion.
names_2.pop()

'guillermo'

In [88]:
names_2

['josefino', 'maria', 'ruperto']

In [89]:
# slices
names[1:3]

['maria', 'ruperto']

In [90]:
# guardar numeros pares en una lista del 1 al 10
pares_list = []
for number in range(1, 11):
    if (number % 2) == 0:
        pares_list.append(number)

pares_list

[2, 4, 6, 8, 10]

In [91]:
# guardar en una lista el cuadrado de los numeros impares
pares_list = []
for number in range(1, 11):
    if (number % 2) != 0:
        pares_list.append(number**2)

pares_list

[1, 9, 25, 49, 81]

In [92]:
# me indica el numero de valores que tiene la lista
len(names)

4

In [93]:
for value in range(len(names)):
    print(names[value])

josefino
maria
ruperto
guillermo